@mixin cross-vendor($selector, $rule, $vendors: false) {
    @if ($vendors == false) {
        $vendors: ('khtml', 'moz', 'ms', 'o', 'webkit');
    }

    #{$selector}: $rule;

    @each $vendor in $vendors {
        $vendorlabel: unquote('-' + $vendor + '-' + $selector);
        #{$vendorlabel}: $rule;
    }
}

@mixin templates () {
    &[data-template="topload"] {
        & > .pinned {
            &-point {
                &-tip {
                    position: absolute;
                    transition: margin-top 0.5s ease-in-out;
                    width: auto;
                    height: auto;
                    max-height: 500px;
                    min-height: 200px;
                    top: 0;
                    right: 20px;
                    bottom: auto;
                    left: 20px;
                    margin-top: -500px;
                    border-radius: 0 0 10px 10px;

                    &.expanded {
                        transition: margin-top 0.5s ease-in-out;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &[data-template="leftload"] {
        & > .pinned {
            &-point {
                &-tip {
                    position: absolute;
                    transition: margin-left 0.5s ease-in;
                    width: 50%;
                    max-width: 500px;
                    height: auto;
                    max-height: 100%;
                    top: 50%;
                    right: auto;
                    bottom: 0;
                    left: 0;
                    border-radius: 0 10px 10px 0;
                    transform: translateY(-50%);
                    margin-left: -500px;

                    &.expanded {
                        transition: margin-left 0.5s ease-out;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &[data-template="rightload"] {
        & > .pinned {
            &-point {
                &-tip {
                    position: absolute;
                    transition: margin-right 0.5s ease-in;
                    width: 50%;
                    max-width: 500px;
                    height: auto;
                    max-height: 100%;
                    top: 50%;
                    right: 0;
                    bottom: auto;
                    left: auto;
                    border-radius: 10px 0 0 10px;
                    transform: translateY(-50%);
                    margin-right: -500px;

                    &.expanded {
                        transition: margin-right 0.5s ease-out;
                        margin-right: -0px;
                    }
                }
            }
        }
    }
}

@mixin ratios () {
    &.r215 {
        padding: 23.8%;
    }

    &.r219 {
        padding-top: 42.86%;
    }

    &.r189 {
        padding-top: 50%;
    }

    &.r169 {
        padding-top: 56.25%;
    }

    &.r1610 {
        padding-top: 62.5%;
    }

    &.r32 {
        padding-top: 66.6%;
    }

    &.r43 {
        padding-top: 75%;
    }

    &.r54 {
        padding-top: 80%;
    }
}